<div class="row-fluid">
<div class="span12">
<div class="portlet box blue ">
<div class="portlet-title">
  <div class="caption"><i class="icon-reorder"></i><%= singular_table_name %></div>
  <div class="tools">
    <a href="javascript:;" class="collapse"></a>
  </div>
</div>

<div class="portlet-body form form-horizontal">
<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
<div class="control-group">
<% if attribute.password_digest? -%>
    <label class="control-label"><%%= f.label :password %></label>
    <div class="controls"><%%= f.password_field :password, :class => 'm-wrap' %></div>
  </div>
  <div class="control-group">
    <label class="control-label"><%%= f.label :password_confirmation %></label>
    <div class="controls"><%%= f.password_field :password_confirmation, :class => 'm-wrap' %></div>
<% else -%>
  <%- if attribute.reference? -%>
     <label class="control-label"> <%%= f.label :<%= attribute.column_name %> %></label>
     <div class="controls"><%%= f.<%= attribute.field_type %> :<%= attribute.column_name%>, :class => 'm-wrap' %></div>
    
  <%- else -%>
    <label class="control-label"> <%%= f.label :<%= attribute.name %> %></label>
    <div class="controls"><%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => 'm-wrap' %></div>
  <%- end -%>
<% end -%>
  </div>
<% end -%>
  <div class="form-actions">
    <%%= f.submit 'Save', :class => 'btn blue' %>
  </div>
<%% end %>
</div>
</div>
</div>
</div>