  <% content_for :page_scripts do %>
  <script src="/assets/scripts/app.js"></script>
  <script src="/assets/scripts/form-components.js"></script>   
  <script>
  jQuery(document).ready(function() {       
    App.init();
    FormComponents.init();
  });
  </script> 
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <!-- BEGIN Basic FORM PORTLET-->   
      <div class="portlet box blue ">
        <div class="portlet-title">
          <div class="caption"><i class="icon-reorder"></i>会员信息</div>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
          </div>
        </div>
        
        <div class="portlet-body form form-horizontal">
          <%= form_for(@buyer) do |f| %>
          <% if @buyer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

            <ul>
              <% @buyer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="control-group">
            <label class="control-label">会员名称<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :name, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">联系人<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :contact, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">电子邮箱<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :email, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">证件类型<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :certificate_type, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">购买者证件号码<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :certificate_no, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">vip客户</label>
            <div class="controls">
              <%= f.check_box :is_caa_vip, :class => 'span6 m-wrap' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">地址<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :address, :class => 'span6 m-wrap' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">邮编</label>
            <div class="controls">
              <%= f.text_field :zip, :class => 'span6 m-wrap' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">固定电话<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :phone, :class => 'span6 m-wrap' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">移动电话<span class="required">*</span></label>
            <div class="controls">
              <%= f.text_field :mobile, :class => 'span6 m-wrap' %>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
            <button type="cancel" class="btn">取消</button>
          </div>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
