<div class="row-fluid">
<div class="span12">
<div class="portlet box blue ">
<div class="portlet-title">
  <div class="caption"><i class="icon-reorder"></i>car</div>
  <div class="tools">
    <a href="javascript:;" class="collapse"></a>
  </div>
</div>

<div class="portlet-body form form-horizontal">
	<div class="control-group">
		<%= label :car, :license_no, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.license_no %></span> 
		</div>
	</div>
	<div class="control-group">
		<%= label :car, :vin, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.vin %></span> 
		</div>
	</div>
	<div class="control-group">
		<%= label :car, :purchase_at, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.purchase_at %></span> 
		</div>
	</div>
	<div class="control-group">
		<%= label :car, :purchase_price, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.purchase_price %></span> 
		</div>
	</div>
	<div class="control-group">
		<%= label :car, :ein, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.ein %></span> 
		</div>
	</div>
	<div class="control-group">
		<%= label :car, :current_mile, :class => 'control-label' %>
		<div class="controls">
			<span class="text"><%= @car.current_mile %></span> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">车型</label>
		<div class="controls">
			<span class="text"><%= @car.car_model.name %></span> 
		</div>
	</div>
</div>
</div>
</div>
</div>