
<div class="row-fluid">
  <div class="span12">
    <!-- BEGIN Basic FORM PORTLET-->   
    <div class="portlet box blue ">
      <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>车型信息</div>
        <div class="tools">
          <a href="javascript:;" class="collapse"></a>
        </div>
      </div>
      
      <div class="portlet-body form form-horizontal">
        <%= form_for(@car_model) do |f| %>
        <% if @car_model.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@car_model.errors.count, "error") %> prohibited this car_model from being saved:</h2>
            <ul>
            <% @car_model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="control-group">
          <label class="control-label">名称<span class="required">*</span></label>
          <div class="controls">
            <%= f.text_field :name, :class => 'span6 m-wrap' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">描述</label>
          <div class="controls">
            <%= f.text_field :description, :class => 'span6 m-wrap' %>
          </div>
        </div>
         <div class="form-actions">
          <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>